
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create",new { }, new { @class = "btn btn-success" })
    </p>
  @using (Html.BeginForm("Index", "Home"))
  {
    <h2>Поиск</h2>
    <p>Классы &nbsp; @Html.DropDownList("schoolclass", ViewBag.Classes as SelectList)</p><br />
   <p>Пол:</p> 
    <input type="text" name="sex" />
    <input type="submit" value="Посмотреть" /><p>&nbsp;</p>
  }

 
    <div>@Html.Partial("Students")</div>
</body>
</html>
